name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Cache cargo registry, git, bin, and target
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install nightly + rustfmt
        run: rustup update nightly && rustup default nightly && rustup component add rustfmt clippy
      - name: Install dylint
        run: cargo install --locked cargo-dylint@5.0.0 dylint-link@5.0.0
      - name: Format
        run: cargo fmt --check
      - name: Build
        run: cargo build --verbose
      - name: Test
        run: cargo test --verbose
      - name: Clippy
        run: cargo clippy --all-targets -- -Dwarnings
